@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.header-container {
  background-color: #003F8C;
  overflow: hidden;
  height: 100vh;
}

/* Section: Navigation */
.navbar {
  background-color: #003F8C;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  overflow: hidden;
  height: 10vh;
}

.navbar .container {
  display: block;
  margin: auto;
}

.navbar .container .logo {
  margin: -1.3rem 0;
}

.navbar .container .logo svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem !important;
  width: 100px;
  height: 100px;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.navbar .container .logo svg:hover {
  fill: rgba(0, 0, 0, 0.4);
}

.navbar .container .nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.navbar .container .nav li {
  margin-left: 0.5rem;
}

.navbar .container .nav li a {
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.3s ease-in;
}

.navbar .container .nav li a:hover {
  color: rgba(0, 0, 0, 0.6);
} 

@media (min-width: 640px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .container .nav {
    margin-bottom: 0;
  }

  .navbar .container .nav li {
    margin-left: 2rem;
  }

  .navbar .container .nav li a {
    font-size: 1rem;
  }

  .navbar .container .logo svg {
    width: 120px;
    height: 120px;
  }
}


/* Section: Develop */
.develop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #fff;
}

.align {
  margin: auto;
}

.develop .container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.develop .container h1 span {
  font-weight: 300;
}

.develop .container .title {
  text-align: center;
  margin-bottom: 1.5rem;
  opacity: 0.80;
}

.develop .container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.develop .container .btn-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0073ec;
  border: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease-in;
}

.develop .container .btn-container button:hover {
  background-color: #0162cc;
}

.develop .container .btn-container button .download-txt {
  margin-bottom: 0.3rem;
 }

.develop .container .btn-container button .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.develop .container .btn-container button .icon-wrapper svg {
  height: 15px;
  width: 15px;
  margin-right: 0.3rem;
}

.develop .container .btn-container button .icon-wrapper strong {
  margin-top: 0.1rem;
  font-weight: normal;
}

.develop .container .icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.develop .container .icons-container .icon {
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
}

.develop .container .icons-container .icon svg {
  height: 20px;
  width: 20px;
}

.develop .container .icons-container .icon p {
  font-weight: normal;
  font-size: 0.5rem;
}

@media (min-width: 640px) {
  .develop .container h1 {
    font-size: 4rem;
  }

  .develop .container .title {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }

  .develop .container .btn-container button {
    padding: 1.5rem 5rem;
  }

  .develop .container .btn-container button .download-txt {
    font-weight: bold;
  }

  .develop .container .icons-container {
    flex-direction: row;
    gap: 5rem;
  }

  .develop .container .icons-container .icon svg {
    height: 25px;
    width: 25px;
  }
}

/* Section: Accelerate */
.accelerate {
  background-color: #E8EBEE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.accelerate .accelerate-container h1 {
  color: #0b214a;
  text-align: center;
  margin-bottom: 2rem;
}

.accelerate .accelerate-container .stats .stats-item {
  margin-bottom: 1rem;
}

.accelerate .accelerate-container .stats .stats-item h4 {
  color: #022144;
  font-size: 2.8rem;
  text-align: center;
}

.accelerate .accelerate-container .stats .stats-item p {
  text-align: center;
}

.accelerate .accelerate-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accelerate .accelerate-container .btn button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0073ec;
  border: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
}

.accelerate .accelerate-container .btn button:hover {
  background-color: #0162cc;
}

@media(min-width: 640px) {
  .accelerate .accelerate-container h1 {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .accelerate .accelerate-container .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .accelerate .accelerate-container .btn button {
    padding: 1.5rem 5rem;
    font-weight: bold;
  }
}

/* Section: Build Share Run */
.build-share-run {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  overflow-x: hidden;
}

.build-share-run .docker-txt {
  margin-bottom: 2rem;
}

.build-share-run .docker-txt h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.build-share-run .docker-txt p {
  text-align: center;
}

.build-share-run .container .build-container h3 {
  font-size: 2rem;
  color: #0b214a !important;
}

.build-share-run .container .build-container ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.build-share-run .container .build-container ul li {
  color: #697a89!important;
}

@media(min-width: 640px) {
  .build-share-run .container .build-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
  }

  .build-share-run .container .share-container {
    flex-direction: row;
  }

  .build-share-run .docker-txt h1 {
    font-size: 3.1rem;
  }

  .build-share-run .container .build-container .txt {
    flex: 1;
  }

  .build-share-run .container .build-container .img-container {
    flex: 1;
  }

  .build-share-run .docker-txt p {
    font-size: 1.5rem;
  }

  .build-share-run .container .build-container ul li {
    font-size: 1.2rem;
  }
}

/* Section: New to Containers */
.new-to-containers {
  background-color: #003F8C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.new-to-containers .container .content-txt h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.new-to-containers .container .content-txt p {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.new-to-containers .container .content-txt a {
  display: block;
  margin: auto;
  text-align: center;
}

@media(min-width: 640px) {
  .new-to-containers .container .content-txt h1 {
    font-size: 3rem;
  }

  .new-to-containers .container .content-txt p {
    font-size: 1.6rem;
  }

  .new-to-containers .container .content-txt a {
    text-decoration: underline;
    font-size: 1.5rem;
  }
}

/* Section: Community */
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 2rem 0;
}

.community .container .community-wrapper .text-wrapper {
  flex: 1;
}

.community .container .community-wrapper .img {
  flex: 1;
}

.community .container .community-wrapper h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.community .container .community-wrapper p {
  text-align: center;
  margin-bottom: 2rem;
}

.community .container .community-wrapper .join {
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.community .container .community-wrapper .join a {
  background-color: #003f8c;
  border: none;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
}

.community .container .community-wrapper .join a:hover {
  color: #333;
  background-color: #2496ed;
}

@media(min-width: 640px) {
  .community .container .community-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  .community .container .community-wrapper h1,
  .community .container .community-wrapper p,
  .community .container .community-wrapper .join {
    text-align: left;
  }

  .community .container .community-wrapper .join a {
    padding: 0.7rem 2.5rem;
  }
}
